/*body{text-align: center;vertical-align: middle; width:60%; }*/
.container{
	background-color: white;
	border: 10px solid rgba(58, 53, 0, 0.5);
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
	}	
h4{
	font-weight:bold;
	color:#3f3800;
	text-align: center;
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	}
p{
	color:#3f3800;
	text-align: center;
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	}